header {
  background-color: #4e53a2;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 40px;
  cursor: pointer;
}
.header-right-side {
  display: flex;
  align-items: center;
  gap: 15px;
}

.auth_panel {
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav_register,
.nav_login {
  font-size: 16px;
  color: #d3d4e8;
}

a:hover {
  color: yellow;
}

span {
  color: yellow;
}
