/* Reset and Normalize */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  color: #333; /* Default text color */
}
img {
  display: block;
}

/* Links */
a {
  text-decoration: none;
}

a:hover {
}

/* Global Padding*/
.global-padding-sides {
  padding: 15px 20px;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

input,
textarea,
button,
a {
  outline: none;
}
input,
textarea {
  border-radius: 5px;
  padding: 10px;
}
textarea {
  resize: none;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex-grow: 1;
}
/* HEADER FOOTER  */
header,
footer {
  background-color: #4e53a2;
}
/* custom class for max width */
.max-width {
  max-width: 990px;
  margin: 0 auto;
}

/* LOGO */
.logo {
  width: 40px;
  cursor: pointer;
}
