.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  gap: 15px;
}

.login-form h1 {
  text-align: center;
  margin: 40px 0 20px;
}

.input-div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.login-form label {
  font-size: 10px;
  color: #5e6366;
}

.password-labels {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}
.forgot-password:hover {
  color: #212223;
  text-decoration: underline;
  cursor: pointer;
}
.btn {
  padding: 15px;
  border-radius: 5px;
  color: #ffffff;
}

.btn:hover {
  opacity: 0.8;
}

.btns {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
.btns > * {
  width: 50%;
}

.login-btn {
  background-color: #4e53a2;
}
.btns .register-link {
  color: #212223;
  border: 1px solid #bbc4c9;
  background-color: #ebf3f7;
  width: 100%;
}
.register-link:hover {
  background-color: #6f9fb7;
  color: #ffffff;
}

.password {
  letter-spacing: 2px;
}
.password::placeholder {
  font-size: 16px;
}

.input-div input {
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid #5e6366;
}

.input-div input:focus {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
  border: 1px solid #89bbda;
}

.login-error {
  width: 120px;
  color: red;
  position: absolute;
  margin: 0 auto;
  top: 15%;
  left: calc(50% - 60px);
}

.loading {
  margin: 60px auto;
  font-size: 30px;
}
